
簡易な認証機構


<h2>設定</h2>

config/initializers/authenticated_system.rb ファイル::

<pre>
module AuthenticatedSystem
  #Application = ::Accounts::Application
  UserModel = ::User
  # "remember me" 機能を使う場合は設定。不要なら nil
  AuthTokenModel = ::AuthToken
end
</pre>


UserModel       #login フィールド UNIQUE
                .find_by_login() method
  

"remember me" 機能を使う場合::

AuthTokenModel  #remember_token field
                #expires_at field
                #user method => User型
                #valid_remember_token?
                .create_token_for(user) メソッド
                .find_by_remember_token()


  <h3>ApplicationController</h3>

<pre>
require "rails_sup/authenticated_system/controller_helper"

class ApplicationController &lt; ActionController::Base
  include AuthenticatedSystem::ControllerHelper

  # "remember me"機能
  before_filter :login_from_cookie
</pre>







<h2>Single-Sign-On (SSO)</h2>


# 同一ドメイン内の複数のアプリケーションで、SSO を実現する
# 手法:
#   - アプリケーション間のセッションの共有は不要
#   - cookies[:auth_token] にキーを設定して、アプリケーション間で共有
#     いつでも設定ではなく、ユーザ切り替え、ログオフなどアクションの際のみ

#   - テーブル AuthToken を、アプリケーション間で共有
#     TODO: テーブル共有はやりすぎ。Accountsアプリにリダイレクト& redirect-
#           back できれば十分。
# 設定:
#   Application.config.service_domain   クッキーを共有するdomain
#
